[submodule "lib/UnsupGenModbyMPS"]
	path = lib/UnsupGenModbyMPS
	url = https://github.com/congzlwag/UnsupGenModbyMPS.git

[submodule "lib/aif_mps"]
	path = lib/aif_mps
	url = https://github.com/SWauthier/aif-mps.git